body {
  background-color: #F7F7F7;
}

img {
  display: block;
}

.mod {
  overflow: hidden;
}

.my-col-1 {
  overflow: hidden;
  > li {
    padding-bottom: 10px;
  }
}

.my-col-2 {
  overflow: hidden;
  > li {
    width: 50%;
    float: left;
    padding-bottom: 10px;

    &:nth-child(2n + 1) {
      padding-right: 5px;
    }
    &:nth-child(2n) {
      padding-left: 5px;
    }
  }
}

.my-col-3 {
  overflow: hidden;
  margin-bottom: 10px;
  > li {
    width: 33.3333%;
    float: left;
    padding: 0 5px 0;

    &:nth-child(3n + 1) {
      border-right: 1px #e3e3e3 solid;
    }
    &:nth-child(3n + 2) {
      border-right: 1px #e3e3e3 solid;
    }
  }
}

.product {
  display: block;
  background-color: #fff;
  padding-bottom: 5px;
  color: #2d2d2d;
  text-decoration: none;

  .brand,
  .name,
  .price {
    margin-bottom: 5px;
    padding: 0 5px;
  }

  .name {
    color: #888;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .commission {
    color: #fa753a;

    span {
      font-size: larger;
    }
  }
}