.title {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-size: $font-size-my-large;
  background-color: #fff;
}

.product-list-2 {
  padding-top: 45px;
  .product {
    float: left;
    width: 50%;
    overflow: hidden;

    margin-bottom: 8px;

    .product-link {
      display: block;
      background-color: #fff;
      text-decoration: none;

      .name,
      .brand,
      .price {
        padding: 1px 5px;
      }
      
      .shangpin-price {
        color: red;
      }
      .markeet-pric {
        text-decoration: line-through;
        color: lighten($text-color-my-default, 66%);
      }

      .name {
        color: $text-color-my-light;
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }

    &:nth-child(3n+1) {
      padding-right: 4px;
    }

    &:nth-child(3n+2) {
      padding-left: 4px;
    }
  }
}

.clearfix {
  @include clearfix();
}
