* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  font-size: $font-size-my-root;
}

body {
  color: $text-color-my-default;
  background-color: #f0f0f0;
}

// fix bug:
// move font-size from body {} to * {}
* {
  font-size: $font-size-my-default;
}

a {
  color: $text-color-my-default;

  &:hover,
  &:focus {
    color: $text-color-my-default;
  }

}

p {
  margin: 0;
}