// font-family
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif ,"微软雅黑", "Microsoft YaHei", "华文细黑", STXihei;

// font-size
$font-size-my-root: 62.5%; // 10px
$font-size-my-default: 1.4rem; // 14px
$font-size-my-small: 1.2rem; // 12px
$font-size-my-big: 1.6rem; // 16px
$font-size-my-large: 2.2rem; // 22px

// color
$text-color-my-default: #000;
$text-color-my-light: lighten($text-color-my-default, 38.5%);
$blue-my: #6595DC;
$red-my: #ed4a1f;

$gray-line: #f2f2f2;