body {
  background-color: #fff;
}

.title {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-size: $font-size-my-large;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}

.product-list-2 {
  padding-top: 45px;
  .product {
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 8% 8px;

    .product-link {
      display: block;
      background-color: #fff;
      text-decoration: none;

      .name,
      .brand,
      .shangpin-price,
      .market-price {
        margin-bottom: 10px;
        font-size: $font-size-my-big;
      }

      .brand {
        color: #2d2d2d;
      }

      .name {
        color: #888;
      }

      .shangpin-price {
        color: #bb2226;
        margin-right: 10px;
      }

      .market-price {
        text-decoration: line-through;
        color: #888;
      }

      img {
        display: block;
        margin: 0 auto 20px;
      }
    }

  }
}

